# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.env
# dependencies
/node_modules
/.pnp
.pnp.js

Client/node_modules
Client/.pnp
Client/.pnp.js

# testing
/coverage

# production
/Client/build

# misc
/Client/.DS_Store
/Client/.env.local
/Client/.env.development.local
/Client/.env.test.local
/Client/.env.production.local

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*